body{
	background-color: #E6E6FA;
	font-family: Courier;
	text-align: center;
}
label{
	display: block;
	box-sizing: border-box;
	text-align: center;
}
input{
	width: px;
	box-sizing: border-box;
	border: px solid #999;
}